/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
	@include show-for(medium);
}

#mobile-menu, .title-bar {
	@include hide-for(medium);
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	> ul.menu {
		height: 100vh;
		padding: 1rem;

		a {
			color: $white;
			font-size: rem-calc(15);
		}
	}

	.menu .active > a {
		color: $primary-color;
	}
}

// Tablet and desktop menu

.top-bar {

	.menu a {
		color: $primary-color;

		&:hover:not(.button) {
			color:lighten($primary-color, 10%)
		}
	}

	.menu .active > a {
		color:lighten($primary-color, 20%);
	}


	.dropdown.menu .submenu { border: 0; }
	.dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
	.dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
	.dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
	@include breakpoint(small only) {
		padding: 0; // prevents container visibility on small screens
	}
}

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}
