.ba-featured-hero{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 0 rem-calc(32);
	position: relative;
	height: rem-calc(200);
	@include breakpoint(medium) {
		height: rem-calc(400);
	}
}
